<section>
  <h2>Add Author</h2>
  <form class='addAuth' action="/author" method="POST">
    <label for="name">Name</label>
    <input name='name' type='string' id='auth_name'>

    <label for="bio">About The Author</label>
    <input name='bio' type='text' id='auth_bio'>

    <label for="prof_pic">Picture URL</label>
    <input name='prof_pic' type='string' id='auth_profPic'>

    <input class='newAuthSubmit' type="submit" value="Submit">
  </form>
</section>
