<section>
  <h2>Delete Author</h2>
  <form action="/author/{{author.id}}?_method=DELETE" method="POST">
    <input class='delete' type="submit" name="name" value="Delete {{author.name}}?">
  </form>
</section>
