<!-- <div class="row bookAuthLink">
  <div>
    <a class="col-md-6 bookLink" href='#'><h2>Books</h2></a>
  </div>

  <div>
    <a class="col-md-6 authLink" href='/author'><h2>Authors</h2></a>
  </div>
</div> -->
